<div class="container bg_color">
    <div class="row f_length my-5">
        <div class="col-md-1"></div>
        <div class="col-md-4 first_col mt-3 pt-4">
            <form class="form_login" action="/action_page.php">
                <div class="row mt-5 justify-content-center mb-4">
                    <img src="../../../assets/img/technocares.jpeg" class="rounded-circle" alt="Cinque Terre"
                        width="70px" height="70px">
                </div>

                <h2 class="text-center text-dark text-t">Start your 14 day free trial</h2>
                <br>
                <div class="my-2">
                    <button type="button" class="btn btn-lg btn-block bg-white pb-1"><i
                            class="fa fa-google float-left"></i>Sign up with Google</button>
                </div>
                <div>
                    <p class="text-center span c-span">or sign up using email</p>
                </div>

                <div class="form-group mb-4 my-0">

                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Full name" required>
                </div>
                <div class="form-group mb-4">

                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email address"
                        required>
                </div>
                <div class="form-group mb-4">

                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Company name"
                        required>
                </div>
                <div class="form-group">

                    <input type="text" class="form-control" id="formGroupExampleInput2"
                        placeholder="Password (at least 8 characters log)" required>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                     <p class="text-dark">I agree to the <span class="c-span"><u>Terms of Services</u></span> and <span
                            class="c-span"><u>Privacy Policy</u></span></p>
                    </label>
                </div>
                <br>
                <button type="button" class="btn btn-color btn-lg btn-block">Start your trial</button>
            </form>
        </div>
        <div class="col-md-1"></div>

        <div
            class="col-off col-md-5  row align-self-center justify-content-center align-items-center text-dark second_col">
            <div class="col-12">
                <img src="../../../assets/img/Beach-Destinations-in-Asia.jpg" alt="" class="bg-img mx-auto">
            </div>
            <div class="offset-2 col-10 position">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Asperiores libero minima similique cumque ut!
                    Excepturi pariatur officiis molestias omnis,
                    cumque molestiae ut animi nulla velit eligendi explicabo reprehenderit ipsum,
                    ab sunt soluta placeat dolor praesentium impedit minima enim maiores.
                    Autem illum eveniet incidunt ex sequi nihil hic cupiditate numquam fuga.
                </p>
                <div class="row mt-5 justify-content-center d-flex justify-content-center align-items-center">
                    <img src="../../../assets/img/technocares.jpeg" class="rounded-circle" alt="Cinque Terre"
                        width="60px" height="60px">
                        <p class = "ml-2 pt-2">
                            <b>technocares</b>
                            <br>
                            A web Development company.
                        </p>
                </div>
            </div>
            <div class="float-righ">
                <i class="fa fa-comment-o rounded-circle chat"></i>
            </div>
            

        </div>

    </div>
</div>